.toolbar-horizontal #header
{
	padding: 75px 0 12px;
}
.toolbar-horizontal #yg-slider{
	padding-top: 0px; 
}
.path-user .tabs.primary{
	padding-top: 200px;
}
.region-logo img{
	height: 90px;
}
.region-navigation{
	padding-left: 148px;
}
.toolbar-horizontal .tabs.primary{
	padding-top: 150px;
}
.service-listing{
	max-width: 100%;
	padding: 10px;
}
.categories.recent-project{
	max-width: 100%;
}

.blog_image.full img{
	height: 740px;
}
.field--name-field-request-back-form .col-md-3.form-group{
	float: left;
}
.field--name-field-request-back-form input.btn.btn-default{
    width: 78%;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-family: 'lato';
    cursor: pointer;
 }

.field--name-field-request-back-form .btn,
.field--name-field-request-back-form select.form-control{
	margin-top: 3px; 
}
#request_call_back img{
	top: 5px;
}
.pager__item.is-active a , .pager__item.is-active a:hover, .pager li a:hover{
   font-weight: bold;
   background: #494949 !important;
   color: #fff !important;
}

.pager__item a{
    height: 45px;
   line-height: 45px;
   display: block;
   border: 1px solid #296dc1;
   text-align: center;
   margin-left: -1px;
   color: #333 !important;
   font-size: 18px
}

.pager li a{
   display: inline-block;
   padding: 0px 14px;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 0px;
}
    
.pager__item {
   display: inline;
   padding: 0em;
}
.blog_image img{
	height: 370px;
}
#blog .logistics-cutom-btn a{
	color: #000;
}
#blog .logistics-cutom-btn:hover a{
	color: #fff;
}
.comment-blog{
   padding-bottom: 35px;
   border-bottom: 1px solid #f4f3f3;
   padding-top: 30px;
}
.blog-details-comments h3{
    padding: 20px 0 30px!important;
    color: #fe7400;
    padding: 35px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
 }
 #blog .full .date{
 	bottom: 30px;
 }
.comment-blog-form.comment-form input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.comment-blog-form.comment-form input.button{
	color: #fff;
    background-color: #fe7400;
    border-color: #fe7400;
    padding: 6px 16px 8px;
    border-radius: 4px;
    margin: 20px 5px;
    cursor: pointer;
    width: 35%;
    float: left;
}
section#top-banner{
	margin-top: 95px;
}
.toolbar-tray-open section#top-banner{
  margin-top: 0px;
}
.room-details-img:nth-child(3) {
    width: 58%;
    padding-left: 15px;
}
.room-details-img:nth-child(2) {
    width: 41%;
   ;
}
.room-details-img:nth-child(4) {
    width: 58%;
   
}
.room-details-img:nth-child(5) {
    width: 41%;
    padding-left: 15px;
   
}
.portfolio-item h4 a{
	color: #fff;
}
.services-title{
	padding: 0px 15px;
}
.services-title li{
	padding: 4px 46px 8px 18px;
}
#page-not-found h1{
	font-size: 120px;
}
#page-not-found h2{
	font-size: 50px;
}
.page-not-found-text a{
	color: #fff !important;
    background: #f67428;
    margin-bottom: 35px;
    margin-top: 30px;
}
#user-login .container{
    width: 100%;
    border: 1px solid #e7e4e4;
    box-shadow: 1px 3px 4px 1px;
    
}
#user-login{
	padding: 30px
}
.banner-caption h1{
	line-height: 50px;
}
#yg-slider h3 .word2{
	color: #fe7400;
	padding-left: 5px;
}
#yg-slider h2 .word2{
    color: #fe7400;
    padding: 0px 5px;
    font-weight: bolder;
}
#yg-slider .carousel-caption h3{
	display: -webkit-box;
}
#yg-slider .carousel-caption h2{
	display: -webkit-box;
	letter-spacing: 1px;
}
#page-not-found{
	padding: 200px 200px 50px 200px;
}
.yg-construction-login{
	padding: 30px
}
.comment-comment-form input.js-form-submit,
.user-login-form input.js-form-submit,
.user-register-form input.js-form-submit,
.user-pass input.js-form-submit,.comment-blog-delete-form input.js-form-submit{
  padding: 11px 20px !important;
    width: 30% !important;
    background: #f67428;
    float: left;
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none !important;
    display: inline-block;
    border: 0;
    color: #222222;
    text-transform: uppercase;
   
}
#user-login input,form#user-register-form input,#user-pass input{
border: 1px solid #d6d7d7;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
}
form#user-register-form,#user-pass{
	padding: 120px;
}
.nav-item.dropdown .fa-chevron-down:before{
	content: none;
}
.white-header .region-navigation{
	padding-left: 330px;
}
#services .hovereffect img{
	max-width: 100%;
}
.comment-blog-form,.comment-blog-delete-form{
	padding: 6%;
}
.page-node-type-blog .comment-blog-form{
	padding: 0%;
}
#our-clients .owl-carousel .owl-item img{
  height: 65px;
}
#header{
  z-index: 99;
}
.path-frontpage .service-header p{
  display: none;
}
.testi-bg-outer p{
  font-style: italic;
}
#features h2 div{
  display: inline-block;
}
#features .word2,#features .word3{
  color: #f67428;
}
.comment-blog-form.comment-form input.button:hover{
  background-color: rgba(254, 116, 0, 0.78);
  text-decoration:underline;
}
#contact textarea{
  height: 115px;
}
.field--name-field-request-back-form input.btn.btn-default:hover{
  background-color: rgba(0, 0, 0, 0.76);
}
#request_call_back p{
  padding-bottom: 45px;
}
.dropdown.item i{
  display: none;
} 


@media only screen and (max-width: 992px){
.region-navigation{
	padding-left: 0px;
}
.white-header .region-navigation{
	padding-left: 0px;
}
form#user-register-form,#user-pass{
	padding: 50px;
}
.comment-comment-form input.js-form-submit,
.user-login-form input.js-form-submit,
.user-register-form input.js-form-submit,
.user-pass input.js-form-submit,.comment-comment-delete-form input.js-form-submit{
	width: 50% !important;
}
}
@media only screen and (max-width: 620px){
#yg-slider .carousel-caption h2{
	font-size: 34px
}

.comment-comment-form input.js-form-submit,
.user-login-form input.js-form-submit,
.user-register-form input.js-form-submit,
.user-pass input.js-form-submit,.comment-comment-delete-form input.js-form-submit{
	width: 50% !important;
	font-size: 10px;
}
}
@media only screen and (max-width: 1199px) and (min-width: 992px){

.white-header .region-navigation{
	padding-left: 120px;
}
.region-navigation{
	padding-left: 90px;
}
}

@media only screen and (max-width: 992px) and (min-width: 675px){

.service-listing {
    max-width: 100% !important; 
    ; 
}
.services-title{
  max-width: 100%;
}
.field--name-field-request-back-form input.btn.btn-default{
  width: 100%;
}
}
@media only screen and (max-width: 767px) and (min-width: 481px){

.room-details-img{
  width: 100% !important;
}
.field--name-field-request-back-form input.btn.btn-default{
  width: 100%;
}
}

@media only screen and (max-width: 480px) and (min-width: 320px){

#portfolio.our-works h2::before{
  left: 38%;
}
.field--name-field-request-back-form input.btn.btn-default{
  width: 100%;
}
.room-details-img{
  width: 100% !important;
}
}