p,a, h1,h2,h3,h4,h5,h6,li,span,a{
    font-family: 'Lato', sans-serif;
}
.btn.btn-info:hover{
    cursor: pointer;
}
img{
    object-fit:cover;
    -o-object-fit:cover;
}
.viewsreference--view-title {
    display: none;
}
/*Menu Section*/
.dropdown-item{
    padding:8px 20px;
    font-weight: bolder;
    color: #4b4b4b !important;
    font-size: 14px;
    border-bottom: 1px solid #f2f2f2;
}
.dropdown-menu {
    position: absolute;
    top: 98%;
    left: 15px !important;
    z-index: 1000;
    display: none;
    min-width: 14rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0px;
    border:none;
}
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #fe7400;
    font-weight: bolder;
}
.dropdown-menu a:hover {
    color: #000 !important;
}
.sticky #header-top{
    display: none;
}
a.dropdown-item:last-child {
    border-bottom: none;
}
#header-top {
    position: relative;
    color: #fff;
    background-color: #fe7400;
    padding: 5px 0px;
    height: 110px;
}
#header-top .header-right {
    float: right;
    padding-right: 0px;
}
#header-top .header-right ul {
    display: block;
    margin: 0px;
}
#header-top .header-right ul li {
    display: inline-block;
    margin-left: 45px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
}
#header-top .header-right i.fa {
    color: #fff;
    border: none;
    background-color: #de3469;
    padding: 5px;
    width: 21px;
    border-radius: 50%;
    text-align: center;
}
#header {
    padding: 0px 0 12px;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
    z-index: 10;
}
#header.sticky{
    height: 93px;
}
.interior-nav {
	width: 100%;
	padding-top: 20px; 
	display: inline-block;
	text-align: right;
	padding-right: 30px;
}
.phone {    
	padding: 10px 40px 10px 10px;
    text-align: right;
    float: right;
    line-height: 25px;
    border-right: 1px solid #fcbf95;
}
.social{
	float: right;	
	padding:  10px 55px 10px 35px;
}
.social ul { 
    padding: 0px;
}
.phone p{
	font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0px;
    color: #fdf7f4;
}
.phone span {
    color: #828282;
    font-size: 13px;
    font-weight: 600;
    padding-right: 5px;
}
.phone a{
    color:#fdf7f4;
}
.phone a:hover{
    text-decoration: none;
}
.social li{
    list-style: none;
    color: #fff;
    display: inline-block;
}
.social li .fa {
    color: #fff;
    padding: 5px;
    font-size: 18px;
}
.header-top-right{
     background-color: #000;
    height: 35px;
}
.interior-nav{
    padding-top: 0px;
    padding-right: 0px;
}
 .social{
    padding: 5px 0px 5px 12px;
}
 .phone{
    padding: 5px 12px;
    border-right: 2px solid #333333;
}
 .social li .fa {
    color: #fff;
     padding: 5px; 
    font-size: 15px;
}


/*menu*/
nav#mainNav {
   background-color: #fe7400;
    height: 90px;
    position: relative;
    bottom: 0px;
    width: 100%;
}
.navbar-light .navbar-nav .nav-link{
    color: #37352f;
    padding: 15px;
    font-size: 15px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fe7400;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #fe7400;
}
.nav-link .fa{
    padding-right: 8px;
}
.logo img{
    width: auto;
    height: 90px;
}    
.navbar-nav.ml-auto.sf-js-enabled.sf-arrows {
    background-color: rgba(255,255,255,0.9);
    margin: auto;
    position: relative;
    top: 43px;
    padding: 0px 50px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1)
}
/* End Menu Section*/
/* White header */
.white-header nav#mainNav{
    bottom: 0px;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
.white-header .navbar-light .navbar-nav .nav-link {
    padding: 33px 16px;
    font-size: 16px;
}
.white-header .navbar-light .navbar-nav .nav-link.active {
    color: #fe7400;
}

.white-header .navbar-light .navbar-nav .nav-link{
    color: #333333;
    font-weight: bold;
}
.white-header .phone span {
    color: #828282;
} 
.white-header .navbar-nav.ml-auto.sf-js-enabled.sf-arrows {
     background-color: transparent; 
     margin: 0; 
     position: relative; 
     top: 0px; 
     padding: 0px; 
     box-shadow: none;
}
.pagination .page-item.active span{
    color: #fff !important;
    background-color: #494949 !important;
    border: 1px solid #494949 !important;
    padding:10px 12px;
}
.pagination{
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#blog{
    padding-bottom: 20px !important;
    padding-top: 80px !important;
}
/* End White header */
/* BANNER SLIDER SECTION */
section#yg-slider {
    padding-top: 90px;
}
.carousel-caption {
    text-align: left;
    position: absolute;
    left: 7%;
    right: 0px !important;
    bottom: 180px;
    padding: 0px;
    margin: 0px;
    width: 45%;
}
.carousel-caption h3{
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 0px;
}
.carousel-caption h3>span{
    color: #fe7400;
}
.carousel-caption h2  {
   font-size: 43px;
   padding-bottom: 0px;
   color: #fefefe;
}
.carousel-caption h2>span  {
   font-size: 50px;
   color: #fe7400;
   font-weight: bolder;
}
.carousel-caption p {
   font-size: 22px;
   padding-bottom: 25px;
}
.carousel-caption .btn.btn-info {
    width: auto;
    font-size: 16px;
    padding: 15px 71px;
    margin-bottom: 10px;
}
.carousel-item {
 height: 100vh;
 min-height: 300px;
 background: no-repeat center center scroll;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.carousel-item:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index:1;
}
.carousel-item .container {
    background-color: rgba(0,0,0,0.6);
}
.carousel-indicators li {
   cursor: pointer;
   background-color: #fff !important;
   width: 18px;
   height: 4px;
   border-radius: 30px;
}
.carousel-indicators .active {
    background-color: #b1aeaa !important;
}
a.btn.btn-info.view-btn {
    color: #fefefe !important;
    background-color: #fe7400 !important;
    margin-right: 12px;
}
a.btn.btn-info.view-btn:hover{
    background-color: transparent!important;
}
.carousel-caption .btn.btn-info {
    width: auto;
    font-size: 13px;
    padding: 4px 35px;
    margin-bottom: 10px;
    border: 2px solid #fe7400;
    border-radius: 38px;
    background-color: transparent;
}
.carousel-caption .btn.btn-info:hover{
    background-color: #fe7400;
}
/*About section*/
section#about {
    padding: 90px 0px;
}
.about-content {
    padding: 122px 34px 0 10px;
} 
.about-us-content {
    padding: 0px 40px 0 35px;
}
#about .about-content p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
    color: #888;
}
.about-title:before {
    content: "";
    background: #fe7400;
    width: 5px;
    height: 8%;
    position: absolute;
    left: 0px;
    top: 129px;
}
.about-list{
    padding-top: 40px;
}
.about-list-desc h3{
    font-size: 19px;
}
.about-list-desc p{
    font-size: 15px !important;
    line-height: 21px !important;
}
.about-list .fa{
    font-size: 35px;
    float: left;
}
.about-list-desc{
    padding-left: 55px;
}
/* Our vision and mission section */
#our-mission{
    background-color: #f2f2f2;
    padding: 60px 0px;
}
.our-mission-desc, .our-vision-desc {
    top: 45px;
}
.our-mission-title , .our-vision-title {
    padding-bottom: 15px;
}
.our-mission-title h2, .our-vision-title h2{
    color: #646464;
}
#our-mission p , #our-vision p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
    color: #888;
}
.our-mission-title:before {
    content: "";
    background: #fe7400;
    width: 5px;
    height: 13%;
    position: absolute;
    left: 0px;
    top: 7px;
}
.our-mission-right-image::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45%;
    height: 95%;
    background-color: #fe7400;
    z-index: 0;
}
.our-mission-right-image img , .our-vision-left-image img{
    padding: 20px;
    position: relative;
}

#our-vision{
    padding: 60px 0px;
}
.our-vision-title:before {
    content: "";
    background: #fe7400;
    width: 5px;
    height: 13%;
    position: absolute;
    left: 0px;
    top: 7px;
}

.our-vision-left-image::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 45%;
    height: 95%;
    background-color: #fe7400;
    z-index: 0;
}
/* services section */
#services {
    padding: 50px 0px;
    background-color: #fafafa;
}
#services h3{
    color: #909090;
    font-size: 18px;
}
#services h2{
    color: #323232;
}
#services h2:before{
    content: '';
    background-color: #fe7400;
    position: absolute;
    width: 50px;
    height: 3px;
    top: 80px;
    text-align: center;
    left: 46%;
}
.service-header {
    padding-bottom: 65px;
}
#services .header_section.text-center p {
    line-height: 1.8;
    color: #1b1b1b;
    padding: 5px 50px 30px 50px;
}
#services .service_list_caption  {
    background: rgba(0,0,0,0.7);
    padding: 8px 0px;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 90px;
    max-width: 75%;
    margin: 0 auto;
    border-bottom: 6px solid #fe7400;
    height: 100px;
}

#services .service_list_caption p{
   padding: 0px 30px;
   font-size: 27px;
   font-weight: 600;
   margin-bottom: 0px;
}
#services .service_list_caption a{
    color: #fff;
}
#services .service_list_caption a:hover{
    text-decoration: none;
    color: #fe7400;
}

#services .hovereffect{
    height: 360px;
    padding: 5px;
}
#services .hovereffect img{
    height: 360px;
}
.service-header p{
    padding-top: 35px;
    margin-bottom: 0px;
}
#services.service-bg{
    background-color: #fff;
}
/*Team Page End*/
#features{
    padding: 100px 0px;
    background-size: cover;
}
.features-content {
    padding-right: 100px;
}
.features-title {
    padding-bottom: 35px;
}
#features p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
    color: #f2f2f2;
}
#features h2{
    color: #f2f2f2;
}

#features h2>span{
    color: #fe7400;
}
.features-title:before {
    content: "";
    background: #fe7400;
    width: 5px;
    height: 12%;
    position: absolute;
    left: 0px;
    top: 7px;
}
.features-listings {
    top: 98px;
}
.features-list {
    border: 4px solid #f2f2f2;
    padding: 15px 0px;
    text-align: center;
}
.features-list h3{
    color: #fe7400;
    font-size: 41px;
    font-weight: bolder;
}
.features-list p{
    color: #9d9da0;
    font-weight: bolder;
}
.features-list h3::before {
    content: '';
    background-color: #9d9da0;
    position: absolute;
    width: 45px;
    height: 2px;
    top: 85px;
    left: 52px;
}
.feature-list-outer{
    padding: 15px;
    max-width: 38% !important;
}
/* Recent Works SECTION*/
#portfolio{
    padding: 80px 0px;
}

#portfolio p{
    padding: 15px 0px;
    color:#868686;
    line-height: 26px;
}
#portfolio h2{
    color: #343434;
}
#portfolio h2::before {
    content: '';
    background-color: #fe7400;
    position: absolute;
    width: 65px;
    height: 3px;
    top: 70px;
    text-align: center;
    left: 46%;
}
#portfolio h3{
    font-size: 17px;
    margin-bottom: 5px;
}    
#portfolio img{
    width: 100%;
}

.portfolio-info p,h4{
    color:#fff;
    font-weight: bold;
    text-align: left!important;

}

#portfolio .portfolio-info p  {
    text-align: center !important;
    padding: 14px 20px;
    position: relative;
    top: 11px;
    color: #f2f2f2;
    font-size: 14px;
}
#portfolio .portfolio-info h4{
    position: relative;
    top: 14px;
}

#portfolio .portfolio-info h4:hover{
    color: #fe7400;
}
#portfolio .portfolio-info a:hover{
    text-decoration: none;
    color: #fe7400;
}
#portfolio .portfolio-info h4::before{
    content: '';
    background-color: #f2f2f2;
    position: absolute;
    width: 30px;
    height: 1px;
    top: 38px;
    left: 133px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 0px;
  margin-right: -130px;
  margin-top: 0px;
  border: 4px solid #fe7400;
}

.portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
 .portfolio-item:hover img {
  /*-webkit-transform: scale(1.1);
  transform: scale(1.1);*/
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.portfolio-item:hover .middle{
    opacity:1;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.categories{
padding: 0px 13px 13px 0px;
}

#portfolio .btn.btn-infos {
    background-color: #f95b5c;
    color: #fff;
    font-weight: bolder;
    border-radius: 8px;
    padding: 3px 10px;
    margin-top: 42px;
    cursor: pointer;
}

#portfolio .btn.btn-infos:hover{
    background-color:#ff8485;
}
.portfolioFilter {
    padding-bottom: 65px;
    padding-top: 50px;
}
.portfolioFilter a.current {
    background: #fe7400;
    color: #fffffe;
}
.portfolioFilter a {
    background: #f5f5f5;
    color: #777676;
    margin-right: 6px;
    text-decoration: none;
    padding: 8px 35px;
    display: inline-block;
    font-size: 19px;
}

#portfolio.our-works h2::before {
    content: '';
    background-color: #fe7400;
    position: absolute;
    width: 65px;
    height: 4px;
    top: 50px;
    text-align: center;
    left: 46%;
}
/* END Recent Works SECTION*/
/* Testimonial section */
#testimonial{
    height: 800px;
    background-size: cover;
}
.testi-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.testi-bg-outer {
    padding: 130px 0px;
}
.testi-bg-outer h2::before{
    content: '';
    background-color: #fe7400;
    position: absolute;
    width: 52px;
    height: 3px;
    top: 235px;
    text-align: center;
    left: 46%;
}
.testi-bg-outer p{
    color: #393939;
    line-height: 30px;
    font-size: 15px;
    padding-left: 40px;
}
.testi-bg {
    background-color: #fff;
    border-radius: 10px;
    padding: 55px 70px;
}
#testimonial blockquote::before {
    content: "\f10d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fe7400;
    font-size: 28px;
    position: relative;
    top: 28px;
}
#testimonial .owl-carousel .owl-item img{
    border-radius: 50%;
    width: 85%;
}
.testimonial-name h5{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}
.testimonial-name h6{
    color: #b7b7b7;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 15px;
}
.testimonial-name p{
    font-size: 13px;
    font-weight: bold;
    padding-left: 0px;
}
.testimonial-description {
    padding-left: 0px;
}
#testimonial .owl-theme .owl-dots .owl-dot span {
    width: 22px;
    height: 3px;
    margin: 5px 5px;
    border-radius: 0px;
}
#testimonial .owl-theme .owl-dots .owl-dot.active span{
    background-color: #fe7400;
}
button:focus {
    outline:none;
}
.loop {
    padding-top: 20px;
}
.testimonial-name {
    padding-top: 22px;
}
/* End Testimonial section */
/* Request a call back section */
#request_call_back{
    background-color: #fe7400;
    height: 600px;
    padding: 70px 0px;
    color: #fff;
    font-weight: bold;
}
#request_call_back h2{
    font-weight: 600;
}
#request_call_back h2::after{
   display: block;
   height: 2px;
   margin: auto;
   content: " ";
   background-color: #fff;
   width: 53px;
   margin-top: 10px;
}
#request_call_back select.form-control , #request_call_back input.form-control{
    width: 100% !important;
    height: 51px;
    font-weight: 400;
}
#request_call_back form.form-inline {
    padding-top: 55px;
}
#request_call_back .form-control {
    padding-left: 23px;
    font-family: 'lato';
    font-size: 15px !important;
    border: 1px solid #fff;
    box-shadow: 0px 2px 12px -1px rgba(153,150,153,1);
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f2f2f2;
    outline: 0;
    box-shadow: 0 0 0 ;
    transition:none !important;
} 
button.btn.btn-default {
    width: 78%;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-family: 'lato';
    cursor: pointer;
}
button.btn.btn-default:hover{
    background-color: rgba(0, 0, 0, 0.76);
}
#request_call_back img{
    margin: 0 auto;
    top: 30px;
    position: relative;
}    
select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 60%),
    linear-gradient(135deg, gray 40%, transparent 50%) !important;
  background-position:
    calc(100% - 30px) 23px,
    calc(100% - 20px) 23px,
    100% 0;
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* End Request a call back section */


/*Our Clients section*/

#our-clients{
    padding: 50px 0px;
}
#our-clients .owl-carousel .owl-item img{
    width: 60%;
}

#our-clients .owl-theme .owl-dots .owl-dot span {
    width: 22px;
    height: 3px;
    margin: 5px 5px;
    border-radius: 0px;
}
#our-clients .owl-theme .owl-dots .owl-dot.active span{
    background-color: #fe7400;
}
#our-clients  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 38px;
}    
/*Footer section*/

#footer{
    background: #2B2B2B;
    color: #fff;
    padding: 70px 0px;
}
#footer img{
    position: relative;
    bottom: 30px;
}
.footer-columns p{
    margin-bottom: 0px;
    font-size: 15px;
    color: #888888;
}
.footer-columns a{
    color: #888888;
}
.footer-columns h6{
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}
#footer .social {
    padding: 0px;
    float: none !important;
}
.footer-columns a i{
    color: #fff;
    padding-right: 10px;
}
.footer-columns-1 p{
    color: #fff !important;
    font-size: 17px;
    position: relative;
    bottom: 32px;
}
/*Copyright section*/
#copyright {
    background: #1D1D1D;
    padding: 34px 0px;
}
#copyright a{
    color: #fff;
}
#copyright p{
    margin-bottom: 0px;
    color: #888888;
    font-size: 14px;

}
#copyright p span{
    color: #fe7400;
}
/* top banner caption */
section#top-banner {
    margin-top: 95px;
    height: 470px;
}
.top-banner-overlay{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;    
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-bottom: 15px;
}
.banner-caption {
    color: #fefefe;
    margin: auto;
    text-align: center;
    padding: 180px 0px;
}
.banner-caption h1{
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 42px;
    padding-bottom: 13px;
}
.banner-caption p{
    font-size: 15px;
    font-weight: bolder;
}
/* End top banner caption */

/* Facilities Section */
#facilities {
    background-color: #fe7400;
    color:#fff;
    height: 400px;
}

#facilities  p:first-child{
    margin-bottom: 5px;
}
#facilities  p{
    line-height: 18px;
}
.facilities-desc{
    padding: 130px 21px 130px 90px;
}
.facilities-desc h2{
    padding-bottom: 10px;
}
#facilities img{
    width: 100%;
    position: relative;
    bottom: 44px;
}
.facilities-image{
    padding-right: 0px;
}
/* End Facilities Section */
/* Our Experts */
#our-experts {
    padding: 110px 0px 45px;
    background-color: #f5f5f5;
}
#our-experts h3{
    color: #909090;
    font-size: 18px;
}
#our-experts p{
    color: #515151;
}
#our-experts p:first-child{
    margin-bottom: 4px;
}
#our-experts h2{
    color: #444444;
    padding-bottom: 40px;
}
#our-experts h2::before{
    content: '';
    background-color: #fe7400;
    position: absolute;
    width: 50px;
    height: 3px;
    top: 76px;
    text-align: center;
    left: 48%;
}
.our-experts-header {
    padding-bottom: 45px;
}
#our-experts .our-experts-list-caption h3{
   font-size: 25px;
   margin-bottom: 6px;
   color: #444444;
}
.our-experts-list-caption {
    padding: 20px 60px;
    text-align: center;
}
.our-experts-image{
    height: 370px;
}
.our-experts-image img{
    height: 370px;
    width: 100%
}
#our-experts.our-team-bg{
    background-color: #fff;
    padding:0px;
}
/* VIDEO SECTION */
section#video {
    height: 550px;
}

.video-overlay{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;    
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.campus-tour-caption{
    padding: 235px 0px;
}
i.fa.fa-play {
    color: #fff;
    font-size: 35px;
    border: 5px solid #fff;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    padding-top: 16px;
    padding-left: 10px;
}
.play-icon {
    padding-top: 47px;
}
.play-icon  h5{
    color: #fff;
    font-size: 26px;
    padding-top: 18px;
    font-weight: bolder;
}
/* END VIDEO SECTION */
/* Map section*/
#map{
    padding-top: 100px;
}
#map iframe{
    width: 100%;
    height: 700px;
}    
/* Map section*/
#contact{
    padding: 60px 0px;
}
section#contact h2 {    
    color: #000;
    font-size: 29px;
    letter-spacing: 0px;
    padding-bottom: 20px;
}
#contact input.form-control {
    background-color: #f4f4f4 !important;
    border-radius: 37px;
    line-height: 45px;
    border: 1px solid #f4f4f4;
    font-size: 19px;
}
#contact textarea{
    background-color: #f4f4f4 !important;
    border-radius: 20px;
    line-height: 58px;
    border: 1px solid #f4f4f4;
    font-size: 19px;
    margin-top: 23px;
}
#contact .btn.btn-info {
    font-size: 18px;
    padding: 5px 51px;
    border-radius: 34px;
    letter-spacing: 1px;
    width:auto;
    border:none;
    font-weight:bolder;
    background-color: #fe7400 !important;
} 
#contact .btn.btn-info:hover{
background-color: rgba(254, 116, 0, 0.78);
}
#contact  .form-control::-webkit-input-placeholder {
  color: #afafaf !important;
  letter-spacing: 1px;
  padding-left: 25px;
}
/* #contact  .form-control:focus{
    padding-left: 25px;
} */
.btn-info:not([disabled]):not(.disabled):active{
    box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
}
.alert{
    position: fixed;
    bottom:0;
    margin-bottom: 0;
    z-index: 2;
}
.contact-btn{
    float:right;
}
/* services details page */
#services-detail{
    padding: 100px 0px;
}
#services-detail p:first-child{
    margin-bottom: 5px;
}
#services-detail p{
    line-height: 30px;
}
#services-detail h2{
    padding-bottom: 40px;
}
#services-detail h2::before{
    content: '';
    background-color: #fe7400;
    position: absolute;
    width: 50px;
    height: 5px;
    top: 80px;
    text-align: center;
}
#services-detail .gallery h2::before {
    top: 80px;
}
#services-detail blockquote {
    margin: 7px 0 1rem;
    background-color: #f5f5f5;
    color: #5c5c5c;
    padding: 20px 45px;
    font-family: 'lato';
    font-size: 16px;
    border-left: 6px solid #7f7f7f;
    margin-top: 33px;
}
.services-description {
    padding: 0px 35px;
}
.services-title ul{
    list-style-type: none;
    padding-left: 0px;
}
.services-title li.active{
    border-left: 4px solid #fe7400;
}
.services-title li.active a{
   color: #000 !important;
}
.services-title li {
    color: #767475;
    font-size: 20px;
    background-color: #f5f5f5;
    margin-bottom: 3px;
    padding: 4px 15px 8px 18px;
}
.services-title a{
    text-decoration: none;
}
#services-detail .gallery{
    padding-top: 75px;
}
.services-title a.active li{
    margin-left: 12px;
    color: #080808;
}
.room-details-img-inner {
    height: 300px;
}
.room-details-content-inner{
    height: 300px;
    background-color: #f91546;
}
.room-details-img{
    padding-bottom: 10px;
}
.room-details-img-large{
    padding-bottom: 10px;
}
.room-details-img img , .room-details-img-large img{
    width: 100%;
    height: 300px;
}
#room-details {
    padding: 60px 0px;
}
.room-details-img-large {
    padding-right: 0px;
}
.room-details-img{
    padding-left: 8px;
    padding-right: 0px;
}

.room-details-img-large:nth-child(even) {
    padding-right: 15px;
    padding-left: 6px;
}
.room-details-img:nth-child(odd){
    padding-left: 0px;
    padding-right: 0px;
}
.room-details-content-inner h3 {
    color: #fff;
    font-weight: bolder;
    padding: 94px 45px 47px 65px;
}
#services-detail .gallery .hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

#services-detail .gallery .hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.2);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

#services-detail .gallery .hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
#services-detail .gallery .hovereffect .fa-search:before{
    font-size: 36px;
}

#services-detail .gallery .hovereffect h3 {
color:#fff;
text-align:left;
position:relative;
font-size:22px;
background:rgba(0,0,0,0.4);
padding:30px;
top: 162px;
font-weight: bolder;

}

#services-detail .gallery .hovereffect a.info {
text-decoration:none;
display:inline-block;
color:#fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
position: relative;
top: 105px;
padding:7px 14px;
}


#services-detail .gallery .hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

#services-detail .gallery .hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

#services-detail .gallery .hovereffect:hover h3,#services-detail .gallery .hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

#services-detail .gallery .hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
/* End services detail page*/
/*FAQ page*/
.faq_question{
    padding-left: 30px;
}
.panel a:hover{
    text-decoration: none;
}
#faq {
    padding: 100px 0px;
}
#faq .title {
    padding: 5px 0px 30px;
}
#faq .panel-heading {
    color: #0f0f0f;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    padding: 18px;
    border-radius: 13px;
    margin-bottom: 10px;
}
.panel-heading h4{
    margin-bottom: 0px;
    font-size: 15px;
    font-family: 'lato';
    padding-left: 10px;
    color: #fe7400;
}
.panel-heading a{
    color:#3f3f3f;
    font-size: 15px;
    font-family: 'lato';
    padding-left: 30px;
}
#faq .collapse.show {
    display: block;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-bottom: 20px;
}
.panel-heading a:active{
    color: #f7a866;
}
#faq .panel-default.bgcolor > .panel-heading {
    color: #fff;
    background-color: #d70000;
    border-color: #d70000;
}
#faq .panel-default.bgcolor > .panel-heading .panel-title a:hover {
    color: #fff;
}
#faq .panel-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
#faq .panel-title a:hover {
    color: #fe7400;
}
.accordion-toggle{
    color: #fe7400 !important;
}
.collapsed h4{
    color: #3f3f3f !important;
}

#faq .panel-group .panel {
    border-radius: 0px;
}
#faq .panel-body {
    line-height: 2;
    padding: 20px 30px 30px 30px;
    color: #787878;
    font-size: 17px;
}
#faq .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}
#faq .panel-default {
    border-color: #f5f5f5;
}
.services-title a{
    cursor: pointer;
    color: #767475;
}
/*FAQ Page End*/
/* client image */
.client-img {
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.11);
}
.clients{
    text-align: center;
    padding: 0px 25px;
    margin-bottom: 40px;
}
/* End client image */
/* blog*/

#blog {
    padding: 50px 0 80px;
}
.blog_image a {
    width: 100%;
    position: relative;
}
.blog_image img {
    width: 100%;
    border-radius: 8px 0 0 8px;
}
.blog_image.full img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

#blog.blog-details .blog_image img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog_content {
    margin: 40px 0;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
    min-height: 313px;
    display: inline-block;
}

.blog_caption.full {
    padding: 35px 40px 30px;
}

.blog_caption {
    padding: 35px 30px 30px 0;
    display: inline-block
}

.blog_caption h3 {
    color: #181818;
    font-weight: 700;
    padding: 0;
    font-size: 24px;
}

.blog-details-content {
    padding: 40px 30px;
    display: inline-block;
}

.blog-details-content .title {
    color: #da0f0f;
    padding: 0 0 20px;
    font-weight: 800;
}

.blog_details_comment_form .title {
    color: #da0f0f;
    padding: 35px 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
}

.blog_caption a h3:hover {
    color: #fe7400;
}
.blog_caption a:hover{
    text-decoration: none;
}

.blog_caption ul {
    padding: 0 0 15px;
}

.blog_caption ul li a span {
    background: #f9f9f9;
    padding: 1px 8px 2px;
    border-radius: 8px;
}

.blog_caption ul li a {
    color: #6c6c6c;
    font-size: 13px;
}

.blog_caption ul li {
    display: inline-block;
    padding: 0 10px 0 0;
}

.blog_caption p {
    padding: 0;
    color: #181818;
    line-height: 28px;
}

#blog .logistics-cutom-btn {
    padding: 6px 16px;
    background: #f1f1f1;
    color: #000;
    float: right;
    margin-top: 30px;
}

#blog .logistics-cutom-btn:hover {
    background-color: #fe7400;
    color: #fff;
}

#blog .date,
#blog .full .date {
    background: #fe7400;
    position: absolute;
    padding: 5px;
    color: #fff;
}

#blog .date {
    bottom: 30px;
    left: 50px;
}

#blog .full .date {
    bottom: -320px;
    left: 40px;

}
.blog_image.full a:hover{
 cursor: default;
}

#blog .date strong {
    font-size: 36px;
    font-weight: 800!important;
    padding: 0 12px;
    color: #fff;
}

#blog .date .month {
    font-size: 12px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #aa0202;
    width: 55px;
}

.pagination li a,
.pagination li a.active {
    padding: 10px 15px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    float: left;
    position: relative;
}

#blog .date .line {
    border-left: 1.5px solid #b80002;
    position: relative;
    left: 5px;
}

.pagination li a.active {
    color: #fff;
    background-color: #494949;
    border: 1px solid #494949;
}

.pagination li a {
    color: #494949;
    border: 1px solid #DDD;
}

.blog-details {
    padding: 60px 0 80px;
}

#blog-details .blog_content.blog-details-comments {
    padding: 20px 40px;
}

.blog_content.blog-details-comments p {
    font-size: 14px;
}

.blog_content.blog-details-comments ul {
    margin: 0;
    padding: 0;
}

.blog_content.blog-details-comments li {
    font-size: 12px;
    color: #afafaf;
    padding: 0 10px 0 0;
    list-style-type: none;
    display: inline-block;
}

.comments-img {
    display: block;
    padding-bottom: 30px;
}

.comments-img img {
    margin: 0 auto;
    width: 100%;
}

.cmt-btn {
    margin: 10px 0 0!important;
    display: inline-block;
}

.blog_content.blog-details-comments li strong {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.blog_content.blog-details-comments {
    padding: 40px;
}

.blog-details-comments h3.title {
    padding: 0 0 30px!important;
}

#blog-details .blog-details-caption ul {
    padding: 0;
}

#blog-details .form-horizontal .control-label {
    text-align: left;
}

#blog-details .title {
    padding: 20px 0;
    font-size: 25px;
    letter-spacing: -1px;
}

.blog-details-content p {
    line-height: 25px;
    padding: 0 0 12px;
    color: #2d2d2d;
}

.blog-details-content ul {
    padding: 0;
}

.blog-details-content ul li {
    list-style: none;
    display: inline-block;
    padding: 0 6px;
    color: #b9b9b9;
}

.blog-details-content ul li strong {
    color: #2d2d2d;
}

.blog-details-content img {
    height: 130px;
    width: 130px;
}
.blog-details-comments h3.title {
    padding: 0 0 30px!important;
    color: #fe7400;
    padding: 35px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
}
.enquiry-btn.custom-btn {
    color: #fff;
    background-color: #fe7400;
    border-color: #fe7400;
    padding: 6px 16px 8px;
    border-radius: 4px;
    margin: 20px 5px;
    cursor: pointer;
}
.enquiry-btn.custom-btn:hover{
    background-color: rgba(254, 116, 0, 0.78);

}
#blog .pagination-nav {
    text-align: center;
    display: -webkit-box;   
}
#blog .pagination{
    margin: 0 auto !important;

}
/* End blog*/
/* Responsive Query */
@media only screen and (min-width:992px) and (max-width: 1199px) {
.feature-list-outer {
    padding: 12px;
    max-width: 57% !important;
}
.portfolio-info{
    height: 175px;
    width: 90%; 
}
.portfolio-info.middle p{
    line-height: 19px !important;
}
.our-mission-right-image::before , .our-vission-left-image::before  {
    height: 314px;
}
#blog .full .date {
    bottom: -272px;
}
#blog .full .date {
    bottom: -71px;
}
.panel-heading .accordion-toggle.collapsed:after {
    display: none;
}
.panel-heading .accordion-toggle.collapsed:before {
    font-family: 'FontAwesome';
    content: "\f067";
    font-size: 15px;
    line-height: 18px;
    padding-right: 10px;
}
.panel-heading a{
    padding-left: 0px;
}

.panel-heading .accordion-toggle:after {
    display: none;
}
.panel-heading .accordion-toggle:before {
    font-family: 'FontAwesome';
    content: "\f068";
    font-size: 15px;
    line-height: 18px;
    padding-right: 10px;
}
#facilities img{
    bottom: 0px !important;
}
.blog_image img{
    height: 322px;
}
.clients{
    padding: 15px;
    margin-bottom: 0px;
}
}
@media only screen and (min-width:768px) and (max-width: 992px) {
.categories {
    flex: 0 0 50%;
    max-width: 50%;
} 
.social{
    width: 100% !important;
}
.facilities-desc{
    padding: 35px 21px 130px 90px;
}
.portfolio-info{
    width: 86%;
    height: 187px;
}
.portfolio-info.middle p{
    line-height: 21px !important;
}
#testimonial{
    height: auto;
}
.testimonial-name {
    padding-top: 0px;
}
#testimonial .owl-carousel .owl-item img{
    width: 120px;
}
.testimonial-description {
    padding-left: 25px;
}
.testi-bg{
    padding: 55px 62px;
}
.testi-bg-outer {
    padding: 130px 0px;
}
#request_call_back img{
    top: 7px;
}
.our-experts-list-caption{
    padding: 20px 25px;
}
.services-title li {
    padding: 4px 15px 8px 10px;
}
#blog .full .date {
    bottom: -180px;
}
.footer-columns-1.wow.fadeInUp {
    position: relative;
    right: 35px;
}
.about-image-outer {
    max-width: 100%;
    flex: 0 0 100%;
}
.about-content{
    margin-left: 60px;
}
.about-tab .about-content{
    margin-left: 0px;
}
.our-mission-desc, .our-vision-desc {
    max-width: 100%;
    flex: 0 0 100%;
    padding-bottom: 55px;
}
.our-mission-image, .our-vision-image{
    max-width: 100%;
    flex: 0 0 100%;
}
.our-mission-right-image::before , .our-vision-left-image::before{
    height: 408px;
    right: 106px;
}
#facilities img{
    bottom: 0px !important;
}
#services-detail h2::before{
    top: 120px;
}
.portfolioFilter a{
    font-size: 16px;
    width: 23%;
}
.blog_image img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 377px;
}
.control-input{
    flex: 0 0 100%;
    max-width: 100%;
}
.services-title {
    max-width: 50%;
    flex: 0 0 50%;
}  
.about-tab {
    width: 100%;
    flex: 0 0 100%;
}
.clients{
    padding: 15px;
    margin-bottom: 0px;
}
.client-img img{
    width: 100%;
}
.our-experts-listing{
    max-width: 50%;
    flex: 0 0 50%;
}
} 

@media only screen and (max-width: 992px){
.header-top-right{
    display: none;
} 
nav#mainNav{
    height: auto;
}

.navbar-light .navbar-nav .nav-link{
    padding: 10px;
}
.white-header .navbar-light .navbar-nav .nav-link {
    padding:8px 25px;
}    

.social {
    width: 45%;
    padding: 10px 35px 10px 10px;
}

.phone {
    width: 50%;
    padding: 10px 20px 10px 10px;
}
.carousel-caption{
    width:85%;
}
.about-image {
    padding: 20px;
}
.feature-list-outer {
    padding: 8px;
    max-width: 44% !important;
}
.features-listings{
    padding-left: 30px;
    max-width: 100% !important;
    flex:0 0 100%;
    padding-bottom: 80px;
}
.features-content{
    max-width: 100% !important;
    flex:0 0 100%;
}
.features-list h3::before{
    height: 0px;
}
.blog_image img {
        width: 100%;
        border-radius: 8px 8px 0 0
}
#blog .full .date {
    bottom: -71px;
}
.panel-heading .accordion-toggle.collapsed:after {
    display: none;
}
.panel-heading a{
    padding-left: 0px;
}

.panel-heading .accordion-toggle:after {
    display: none;
}

#request_call_back{
    height: auto;
} 
#request_call_back img{
    top: 70px;
}  
#request_call_back .form-group{
    max-width: 100%;
    flex: 0 0 100%;
}
button.btn.btn-default{
    width: 100%;
}
.form-inline .form-group {
    margin-bottom: 23px;
}
#services-detail .services-description h2::before{
    top: 82px;
}
#services-detail .services-description h2{
    font-size: 24px !important;
}

.faq_question {
    padding-left: 0px;
}
.accordion-toggle.collapsed h4:before {
   font-family: 'FontAwesome';
   content: "\f067";
   float: left;
   font-size: 14px;
   line-height: 18px;
   margin-right: 14px;
}
.accordion-toggle h4:before {
   font-family: 'FontAwesome';
   content: "\f068";
   float: left;
   font-size: 13px;
   line-height: 18px;
   margin-right: 14px;
}
}
 
@media only screen and (max-width: 470px){
.social {
    text-align: left;
    width: 100%;
    padding: 10px 35px 10px 10px;
}

.phone {
    text-align: center;
    width: 100%;
    padding: 10px 20px 10px 10px;
    border-right: 0px solid #fff;
}
#services h2{
    font-size: 30px;
}
 .features-content {
    padding-right: 20px;
}
.features-content {
    padding-right: 20px;
    padding-left: 30px;
}
.features-title:before{
    left: 20px;
}
#portfolio .portfolio-info p{
    line-height: 18px;
}
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
    .navbar-light .navbar-toggler{
      margin-right: 15px;
}
    .testi-bg{
        padding: 55px 66px;
    }
    .testi-bg-outer p{
        padding-left: 0px;
        line-height: 22px;
    }
    #testimonial blockquote::before{
        top: 0px;
    }
    .portfolioFilter {
    padding-bottom: 35px;
    padding-top: 50px;
}
.portfolioFilter a{
    margin-bottom: 20px;
    font-size: 20px;
    width: 70%;
}
.comments-img img{
    width: 130px;
}
.about-content {
   padding-left: 42px;
}
.about-title:before {
   left: 31px;
}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
.form-inline .form-group{
    margin-bottom: 23px;
} 
#blog .full .date {
    bottom: -132px;
}
#services .service_list_caption p{
    font-size: 23px;
}
.portfolioFilter a{
    width: 40%;
    margin-bottom: 13px;
}
}    
@media only screen and (min-width: 320px) and (max-width: 767px) {
.categories {
    padding: 0px 13px 13px 13px;
}
#testimonial{
    height: auto;
}
#testimonial .owl-carousel .owl-item img{
    width: 120px;
}
.testimonial-description {
    padding-left: 25px;
}
.testi-bg-outer {
    padding: 130px 30px;
} 
#our-clients .owl-carousel .owl-item img {
    width: 60%;
    margin: 0 auto;
}
.our-mission-res , .our-vision-res{
    padding-left: 25px;
}
.our-mission-desc, .our-vision-desc{
    padding-bottom: 50px;
}
#facilities{
    height: auto;
}
#facilities img{
    bottom: 0px;
}
.footer-columns h6 {
    margin-bottom: 20px;
    margin-top: 30px;
}
#services-detail h2 {
    padding-bottom: 27px;
    font-size: 28px;
}
#services-detail h2::before{
    top: 115px;
}
.room-details-img:nth-child(odd), .room-details-img,.room-details-img-large,.room-details-img-large:nth-child(even)  {
    padding-left: 15px;
    padding-right: 15px;
}
.blog_caption {
    padding: 35px 30px 30px 23px;
}
.blog_content.blog-details-comments {
    padding-left: 10px;
}
}    
@media only screen and (min-width: 675px) and (max-width: 992px) {
 .service-listing{
    max-width: 50% !important;
    flex: 0 0 50% !important;
 }
}    
@media only screen and (min-width: 420px) and (max-width: 575px) {
.carousel-caption {
    bottom: 120px;
}
#services .hovereffect img{
    width: 100%;
}
}
@media only screen and (min-width: 320px) and (max-width: 419px) {
.carousel-caption {
    bottom: 60px;
}
}
@media only screen and (min-width: 320px) and (max-width: 996px){
#portfolio-banner img {
    width: 100%;
    height: 250px;
}
.navbar-nav.ml-auto.sf-js-enabled.sf-arrows {
   top:0px;
    }

#portfolio-banner .portfolio-banner-caption {
    bottom: 165px;
    position: relative;
}
}
@media only screen and (min-width: 481px) and (max-width: 767px){
#portfolio .portfolio-overlay{
  height: 100%;
}

.testimonial-name {
    float: right;
    position: relative;
    bottom: 130px;
}
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
@media only screen and (min-width: 320px) and (max-width: 992px){
.navbar{
   padding:0px;
}
.carousel{
   top: -5px !important;
}
}

.accordion-toggle.collapsed h4:before {
   font-family: 'FontAwesome';
   content: "\f067";
   float: left;
   font-size: 14px;
   line-height: 18px;
   margin-right: 14px;
}

.accordion-toggle h4:before {
   font-family: 'FontAwesome';
   content: "\f068";
   float: left;
   font-size: 13px;
   line-height: 18px;
   margin-right: 14px;
}
.status-message{
    margin-left: 25px;
}