 <div class="panel panel-default wow fadeInUp" data-wow-delay="0.3s">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{ content.field_question_id.0 }}">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {{ content.field_question.0 }}
                    </h4>
                </div>
              </a>  
                <div id="{{ content.field_question_id.0 }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ content.field_answer.0 }}
                    </div>
                </div>
            </div>