<!--  Servics section -->
<section id="services" class="service-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto text-center service-header wow fadeInDown">
        <h3>{{content.field_subtitle.0}}</h3>
        <h2>{{content.field_title.0}}</h2>
        <p>{{content.field_description.0}}</p>
      </div>
    </div>
        {{ content.field_service }}  
  </div>
</section>
<!--  End Services section -->