  <div class="items">
                  <blockquote>
                    <p>{{content.field_description.0}}</p>
                  </blockquote>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="testi-img wow fadeInLeft">
                        <img src="{{file_url(content.field_image['#items'].entity.uri.value )}}" alt="testimonial img" class="img-fluid">
                        </div>
                      </div>
                      <div class="col-md-7 testimonial-description wow fadeInRight">
                        <div class="testimonial-name">
                        <h5>{{content.field_title.0}}</h5>
                        <h6>{{content.field_subtitle.0}}</h6>
                        <p>{{content.field_location.0}}</p>
                        </div> 
                      </div>
                    </div>
                </div>