    <!-- ABOUT SECTION -->
    <section id="about">
      <div class="container">
        <div class="row">

          <div class="col-md-6 about-image-outer wow fadeInLeft">
            <div class="row">
            <div class="about-image">
              <img src="{{file_url(content.field_image['#items'].entity.uri.value )}}" alt="about team img" class="img-fluid">
            </div>
            </div>
          </div>

          <div class="col-md-6 about-content wow fadeInRight">
            <div class="about-title">
              <p>{{content.field_subtitle.0}}</p>
              <h2>{{content.field_title.0}}</h2>
            </div>
            <p>{{content.field_description.0}}</p>
           {{content.field_ab }} 
          </div>

        </div>
      </div>
    </section>
<!-- END ABOUT SECTION -->