<!-- video section -->
  <section id="video" style="background-image: url('{{file_url(content.field_background_image['#items'].entity.uri.value )}}');width:100%;background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="video-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto text-center campus-tour-caption wow fadeInDown">
          <a class="popup-youtube" href="{{content.field_youtube_link.0}}"><i class="fa fa-play" aria-hidden="true"></i></a>
        </div>
        </div>
      </div>
    </div>  
  </section>
  <!-- video section -->