
<!-- ABOUT SECTION -->
    <section id="about">
      <div class="container">
        <div class="row">
            <div class="col-md-2 services-title wow fadeInLeft wow fadeInUp">
               {% set items = simplify_menu('pages-menu') %}
                <ul>
                {% for menu_item in items.menu_tree %} 
                 {% set active = (menu_item.active) ? 'active' : '' %}
                   <li class="{{ active }}"><a href="{{ menu_item.url }}">{{ menu_item.text }}</a></li>
                  {% endfor %}
                </ul>
            </div>
          <div class="col-md-10 about-tab">
          <div class="row">
              <div class="col-md-8 about-content about-us-content">
                <p>{{content.field_description.0}}</p>
                {{content.field_about_us }}
              </div>

              <div class="col-md-4 about-image-outer wow fadeInRight">
                <div class="row">
                <div class="about-image">
                  <img src="{{file_url(content.field_image['#items'].entity.uri.value )}}" alt="about team img" class="img-fluid">
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
<!-- END ABOUT SECTION -->