<div class="col-md-4 col-sm-6 col-xs-6 wow fadeInRight our-experts-listing">
          <div class="our-experts-image">
            <img src="{{file_url(content.field_image['#items'].entity.uri.value )}}" class="img-fluid">
          </div>
          <div class="our-experts-list-caption wow fadeInRight">
              <h3>{{content.field_title.0}}</h3>
              <p>{{content.field_subtitle.0}}</p>
          </div> 
        </div> 