<!-- map -->
<section id="map">
   <div class="container"> 
       <iframe src="{{ content.field_iframe.0 }} " width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    
   </div>
</section>      
<!-- End map -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto wow fadeInUp" data-wow-delay="0.5s">
        <h2>{{ content.field_title.0 }}</h2>
        {{ content.field_contact_form }}
      </div>
    </div>  
  </div>    
</section>     
