<div class="about-list wow fadeInRight">
              <i class="fa {{content.field_icon.0}}" aria-hidden="true"></i>
                <div class="about-list-desc">
                <h3>{{content.field_title.0}}</h3>
                <p>{{content.field_descriptions.0}}</p>
                </div>
            </div>