<!-- ABOUT SECTION -->
    <section id="about">
      <div class="container">
        <div class="row">
            <div class="col-md-2 services-title wow fadeInLeft">
                {% set items = simplify_menu('pages-menu') %}
                <ul>
                {% for menu_item in items.menu_tree %} 
                 {% set active = (menu_item.active) ? 'active' : '' %}
                   <li class="{{ active }}"><a href="{{ menu_item.url }}">{{ menu_item.text }}</a></li>
                  {% endfor %}
                </ul>
            </div>
          <div class="col-md-10 our-team-bg about-tab" id="our-experts">
            <div class="container">
              <div class="row">  
                   {{ content.field_our_team }}
              </div>
            </div>
          </div>

          </div>
      </div>
    </section>
<!-- END ABOUT SECTION -->
