<!-- Top Banner section -->
<section id="top-banner" style="background-image:url('{{file_url(content.field_background_image['#items'].entity.uri.value )}}'); width: 100%; background-repeat: no-repeat;">
  <div class="top-banner-overlay">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto banner-caption wow fadeInDown" data-wow-delay="0.3s">
        <h1>{{content.field_title.0}}</h1>
        <p>{{content.field_subtitle.0}} </p>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- End Top Banner section -->
