<!-- Construction build section -->
<section id="our-mission">
  <div class="container">
    <div class="row our-mission-res">
      <div class="col-md-6 our-mission-desc wow fadeInLeft">
        <div class="our-mission-title">
          <p>{{content.field_subtitle.0}}</p>
          <h2>{{content.field_title.0}}</h2>
        </div>
        <p>{{content.field_description.0}}</p>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 our-mission-image wow fadeInRight">
        <div class="row">
            <div class="our-mission-right-image" data-wow-delay="0.7s">
              <img src="{{file_url(content.field_image['#items'].entity.uri.value )}}" alt="our mission image" class="img-fluid">
            </div>
        </div>
      </div>
    </div>
  </div>   
</section>
<!-- End Construction build section -->