<!-- Construction planning section -->
<section id="our-vision">
  <div class="container">
    <div class="row our-mission-res">
      <div class="col-md-6 col-sm-12 col-xs-12 our-vision-image wow fadeInLeft">
        <div class="row">
            <div class="our-vision-left-image wow fadeInUp" data-wow-delay="0.7s">
              <img src="{{file_url(content.field_image['#items'].entity.uri.value )}}" alt="our vision image" class="img-fluid">
            </div>
        </div>
      </div>
      <div class="col-md-6 our-vision-desc wow fadeInRight">
        <div class="our-vision-title">
          <p>{{content.field_subtitle.0}}</p>
          <h2>{{content.field_title.0}}</h2>
        </div>
        <p>{{content.field_description.0}}</p>
      </div>
    </div>
  </div>   
</section>
<!-- End Construction planning section -->