<!-- ABOUT SECTION -->
    <section id="about">
      <div class="container">
        <div class="row">
            <div class="col-md-2 services-title wow fadeInLeft">
              {% set items = simplify_menu('pages-menu') %}
                <ul>
                {% for menu_item in items.menu_tree %} 
                 {% set active = (menu_item.active) ? 'active' : '' %}
                   <li class="{{ active }}"><a href="{{ menu_item.url }}">{{ menu_item.text }}</a></li>
                  {% endfor %}
                </ul>
            </div>
          <div class="col-md-10 about-tab">
          <div class="row">
          {% for item in paragraph.field_partner_image %}
          
               <div class="col-md-3 col-sm-6 col-xs-12 clients  wow fadeInRight">
                <div class="client-img">
                <img src="{{ file_url(item.entity.uri.value) }}" alt="clients" class="img-responsive">
                </div>
              </div>
            {% endfor %}
          </div>
         </div>
        </div>
      </div>
    </section>