<!-- Features section -->
<section id="features" style="background-image: url('{{file_url(content.field_background_image['#items'].entity.uri.value )}}');width: 100%; height:100%;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 features-content wow fadeInLeft">
        <div class="features-title">
          <p>{{content.field_subtitle.0}}</p>
          <h2>{{content.field_title.0}}</h2>
        </div>
        <p>{{content.field_description.0}}</p>
      </div>
      <div class="col-md-4 features-listings wow fadeInRight">
        <div class="row">
           {{content.field_project_info }}         
        </div>  
      </div>
    </div>
  </div>   
</section>
<!-- End features section -->