<!-- Facilities section -->
<section id="facilities">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 facilities-desc wow fadeInLeft">
        <p>{{content.field_subtitle.0}}</p>
        <h2>{{content.field_title.0}}</h2>
        <p>{{content.field_description.0}}</p>
      </div>
      <div class="col-md-8 facilities-image wow fadeInRight">
        <div class="">
          <img src="{{file_url(content.field_image['#items'].entity.uri.value )}}" alt="vehicle" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Facilities section -->