<!-- Request a call back -->
<section id="request_call_back">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center wow fadeInDown">
        <h2>{{content.field_title.0}}</h2>
        <p>{{content.field_subtitle.0}}</p>
      </div>
       <div class="col-sm-12">
          {{ content.field_request_back_form }}
       </div>
       <img src="{{file_url(content.field_background_image['#items'].entity.uri.value )}}" class="img-fluid" alt="call-back-bg-image">
  </div>
  </div>
</section>
<!-- End Request a call back -->