<div class="col-md-6 feature-list-outer wow fadeInRight">
            <div class="features-list">
            <h3>{{content.field_count.0}}</h3>
            <p>{{content.field_title.0}}</p>
            </div>
          </div>