<!-- Testimonial Section -->
<section id="testimonial" style="background-image: url('{{file_url(content.field_background_image['#items'].entity.uri.value )}}'); background-repeat: no-repeat; width: 100%;">
  <div class="testi-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-5 testi-bg-outer wow fadeInRight">
          <div class="testi-bg">
            <h2 class="text-center">{{content.field_title.0}}</h2>
              <div class="loop owl-carousel owl-theme">
                 {{content.field_testimonial_slider }}
              </div>    
        </div>
      </div>
    </div>

  </div>

</section>
<!-- End Testimonial Section -->