<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-2 services-title wow fadeInLeft">
         {% set items = simplify_menu('pages-menu') %}
            <ul>
            {% for menu_item in items.menu_tree %} 
             {% set active = (menu_item.active) ? 'active' : '' %}
               <li class="{{ active }}"><a href="{{ menu_item.url }}">{{ menu_item.text }}</a></li>
              {% endfor %}
            </ul>
      </div>
      <div class="col-md-10 about-tab">
        <div class="faq_question">
          <div class="panel-group" id="accordion">

              {{ content.field_faq }}      

        </div>
      </div>  
      </div>

    </div>
  </div>
</section>
<!-- FAQ Page End -->