
<div class="col-md-4  col-sm-12 col-xs-12 categories {{ fields.field_work_catagory.content}}">
                  <div class="portfolio-item wow fadeInRight">
                      <img src="{{ fields.field_work_image.content}}" alt="Recent work image">
                      <div class="portfolio-overlay">
                        <div class="portfolio-info middle">
                          <a href="{{ fields.view_content.content}}"><h4 class="text-center">{{ fields.title.content}}</h4></a>
                         {{ fields.body.content}}
                        </div>
                      </div>
                  </div>
            </div>