<div class="col-md-4  col-sm-12 col-xs-12 categories recent-project  wow fadeInLeft">
                  <div class="portfolio-item wow fadeInUp">
                      {{ fields.field_image.content }}
                      <div class="portfolio-overlay">
                        <div class="portfolio-info middle">
                          <a href="{{fields.view_node.content}}"><h4 class="text-center">{{ fields.title.content }}</h4></a>
                          {{ fields.body.content }}
                        </div>
                      </div>
                  </div>
            </div>