<div class="col-md-4 col-sm-6 col-xs-6  service-listing wow fadeInRight">
          <div class="hovereffect">
            <a href="{{ fields.view_node.content }}">{{ fields.field_image.content }}</a>
          </div>
          <div class="service_list_caption">
           <a href="{{ fields.view_node.content}}"><p>  {{ fields.title.content }} </p> </a>
          </div> 
        </div> 