<!-- Our Clients section -->
 <section id="our-clients">
   <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="our-clients-carousel owl-carousel owl-theme">
             {% for row in rows %}
               {{ row.content }}
             {% endfor %} 
      </div>
    </div>
  </div>
  </div>
</section>

<!-- FOOTER SECTION-->