{% if fields.nid.content == node_id %} 
   <li class="active"><a href="{{ fields.view_node.content }}" >{{ fields.title.content }}</a></li>
   {% else %}
   <li><a href="{{ fields.view_node.content }}" >{{ fields.title.content }}</a></li>
{% endif %}
 

