 {%
  set classes = [
    'comment',
    'js-comment',
    status != 'published' ? 'comment--' ~ status,
    comment.owner.anonymous ? 'by-anonymous',
    author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
    'clearfix',
  ]


%}
{% set createdDate = node.getCreatedTime|date('j F Y') %}
{% if parent %}
  <div class="row comment-blog">
            <div class="col-md-2 col-sm-4 col-xs-12 comments-img wow fadeInUp" data-wow-delay="0.4s">
             {{user_picture}}
            </div>
            <div class="col-md-10 col-sm-8 col-xs-12 comments-cont wow fadeInUp" data-wow-delay="0.6s">
              <p>{{ content }}</p>
              <ul>
                <li><strong>Posted By:</strong> <strong>{{ author }}</strong></li>
                <li>Posted On: <span> {{ created }}</span></li>
              </ul>
            </div>  
          </div>
{% else %}
 <div class="row comment-blog">
            <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-12 comments-img wow fadeInUp" data-wow-delay="0.4s">
             {{user_picture}}
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12 comments-cont wow fadeInUp" data-wow-delay="0.6s">
              <p>{{ content }}</p>
              <ul>
                <li><strong>Posted By:</strong> <strong>{{ author }}</strong></li>
                <li>Posted On: <span> {{ created }}</span></li>
              </ul>
            </div>  
          </div>
{% endif %}