 {% for item in items %}  

 <div class=" room-details-img wow fadeInRight" data-wow-delay="0.6s">
            <div class="room-details-img-inner">
            <div class="hovereffect">
              <img src="{{ file_url(item.content['#item'].entity.uri.value) }}" alt="work-details-img" class="img-responsive">
               <div class="overlay">
                 <a class="info portfolio-popup" href="{{ file_url(item.content['#item'].entity.uri.value) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                 <h3>{{ label }}</h3>
                </div>
            </div>
            </div>
          </div>
       {% endfor %}