

<section id="user-login">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 yg-construction-login">                                  
            <div class="login-text">                              
                <h2 class="title" style="text-align:center;"><strong>USER LOGIN</strong></h2> 
                <form role="form" id="sub-form">
                    <div class="form-group">
                     {{ form.name }}
                    </div>
                    <div class="form-group">
                    {{ form.pass }}
                    </div>
                    <div class="form-group">
                        <a href="{{ base_url }}/user/password" alt="Request new password via email">Forgot password?</a>
                    </div>
                    {{ form.form_build_id }}
                    {{ form.form_id }}
                    <div class="login-button">
                        {{ form.actions }}
                    </div>
                </form>
            </div>        
        </div>                  
    </div>
  </div>
</section>  